main section {
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background .sphere {
    fill: hsla(0, 0%, 100%, .01);
    stroke: hsla(0, 0%, 100%, .2);
    stroke-width: 0.1;
    filter: url(#glow);
}

.background .light {
    fill: url(#primary-gradient);
    filter: url(#light-blur);
    opacity: 0.2;
}