body > header {
    position: fixed;
    bottom: 2svh;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 18px 15px;
    border-radius: 16px;
    z-index: 10;
}

body > header nav {
    display: flex;
    gap: 11px;
}

body > header nav a {
    white-space: nowrap;
}