@import url("./css/glassy.css");
@import url("./css/button.css");

:root {
    --border-radius: 28px;
    --component-padding: 9px 18px;
    --card-padding: clamp(15px, 2vw, 2vw) clamp(13px, 1.5vw, 20px);

    --primary: #514CEB;
    --secondary: #282829;
    --background-primary: #111113;
    --text-primary: #FFF;
    --text-secondary: #939393;
    --primary-gradient: linear-gradient(45deg, #7D49EC 0%, #514CEB 100%);
}

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100svh;
    background-color: var(--background-primary);
    color: var(--text-primary);

    font-size: 1.5rem;
    font-family: "Rubik", arial, ui-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Flaticon configuration */
i {
    display: inline-flex;
    font-size: 1.5rem;
}

/* Section */
main section {
    margin-bottom: 7rem;
}

main section .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

main section .title h1 {
    font-size: 5rem;
    white-space: nowrap;
}

main section .title p {
    font-size: 2rem;
    color: var(--text-secondary);
    max-width: 60%;
    text-align: center;
}

@media (max-width: 700px) {
    main section .title h1 {
        font-size: 4rem;
    }
    main section .title p {
        font-size: 1.5rem;
        max-width: unset;
    }
}