.Button {
    cursor: pointer;
    border: none;
    background-color: var(--background-primary);
}

.Button:not(.text) {
    padding: var(--component-padding);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2vw;
    /*Gradient border*/
    --thickness: 3px;
    position: relative;
    background-clip: padding-box;
    border: solid var(--thickness) transparent;
    /**/
    transition: background-color ease 0.1s;
}

.Button.default::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: calc(var(--thickness) * -1);
    border-radius: inherit;
    background: var(--primary-gradient);
}

.Button.text {
    display: inline-flex;
    background: transparent;
}

.Button.secondary {
    border: solid var(--thickness) var(--secondary);
}


.Button:hover {
    background: transparent;
}

.Button p {
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: 800;
}