.ImageContainer-animation-enter {
    left: 160%;
    transform: translate(5%, -50%) rotateZ(0) !important;
}

.ImageContainer-animation-enter-active {
    left: 0;
    transform: translate(5%, -50%) rotateZ(-10deg) !important;
    transition: left 1000ms ease, transform 700ms ease;
}

.ImageContainer-animation-exit {
    left: 0;
    transform: translate(5%, -50%) rotateZ(-10deg) !important;
}

.ImageContainer-animation-exit-active {
    left: 160%;
    transform: translate(5%, -50%) rotateZ(0) !important;
    transition: left 1000ms ease, transform 500ms ease;
}
