.Dropdown {
    padding: 9px 18px;
    border-radius: var(--border-radius);
    background-color: var(--background-primary);
    border: solid 3px #282829;
    /**/
}

.Dropdown {
    font-size: 31px;
    font-weight: 800;
}

.Dropdown option {
    font-size: 23px;
    font-weight: 800;
    font-family: inherit;
}

@media (max-width: 500px) {
    .Dropdown {
        font-size: 6.2vw;
    }

    .Dropdown option {
        font-size: 4.6vw;
    }
}