.Dropdown {
    padding: 9px 18px;
    border-radius: var(--border-radius);
    background-color: var(--background-primary);
    border: solid 3px #282829;
    /**/
}

.Dropdown {
    font-size: 31px;
    font-weight: 700;
    font-family: inherit;
}

.Dropdown option {
    font-size: 23px;
    font-weight: 700;
    font-family: inherit;
}
