.ExpertiseSection {
    display: flex;
    flex-direction: column;
    gap: 8vh;
    min-height: calc(100svh - var(--app-gap));
}

/** **/
.ExpertiseSection .Showcase {
    /*background-color: blue;*/
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.ExpertiseSection .Showcase .Card {
    border-radius: 50%;
    padding: 20px;
}

/** **/
.ExpertiseSection .Container {
    /* background-color: orange;*/
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.ExpertiseSection .Container .Section {

}

.ExpertiseSection .Container .Section .SectionContainer {
    /*background-color: red;*/
    display: flex;
    justify-content: space-between;
}

.ExpertiseSection .Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.ExpertiseSection .Background .Light {
    background-color: var(--primary);
    filter: blur(150px);
    opacity: 30%;
}

/** **/
.ExpertiseCard {
    /*background-color: wheat;*/
    width: 29vw;
    height: 30vh;
    border-radius: var(--border-radius);
    padding: 3vh 1.5vw;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.ExpertiseCard .Header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.ExpertiseCard .Header .Tag {
    padding: 0.5vh 0.7vw;
    border-radius: calc(var(--border-radius) / 1.5);
}

.ExpertiseCard .Header .Tag p {
    font-size: 17px;
    font-weight: bold;
}

.ExpertiseCard .Description {
    /*background-color: blue;*/
    width: 100%;
    flex-grow: 1;
}

.ExpertiseCard .Footer {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.ExpertiseCard .Footer .Data {
    display: flex;
    align-items: center;
    gap: 0.2vw;
}

.ExpertiseCard .Footer .Data i {
    color: var(--text-secondary);
    font-weight: 400;
}

.ExpertiseCard .Footer .Data p {
    color: var(--text-secondary);
}

@media (max-width: 1300px) {

    .ExpertiseSection .Showcase .Card {
        padding: 1.5vw;
    }

    .ExpertiseSection .Showcase .Card .Image {
        width: 12.3vw;
        height: 12.3vw;
    }

    /**/
    .ExpertiseSection .Container .Section .SectionContainer {
        flex-direction: column;
        gap: 1vh;
        width: 100%;
    }

    /**/
    .ExpertiseCard {
        width: 100%;
        padding: 3vw 3vw;
        min-height: 20vh;
        height: fit-content;
    }

    .ExpertiseCard .Header {
        gap: 1vw;
    }


}

@media (max-width: 600px) {
    .ExpertiseCard .Header .Image {
        width: 7vw;
        height: 7vw;
    }
    .ExpertiseCard .Footer .Data {
        gap: 1vw;
    }

    .ExpertiseSection .Showcase .Card .Image {
        width: 20vw;
        height: 20vw;
    }
}
