.HeroSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5svw;
    width: 100%;
    height: 100svh;
}

.HeroSection .Float {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5vh;
    min-width: 40svw;
    min-height: 30svh;
    --horizontal-padding: 34px;
    --vertical-padding: 60px;
    padding: var(--vertical-padding) var(--horizontal-padding);
    border-radius: 35px;
}

.HeroSection .Float h2 {
    font-size: 31px;
    opacity: 90%;
}

.HeroSection .Float .TitleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
}

.HeroSection .Float .TitleContainer h1 {
    line-height: 3vw;
    font-size: 94px;
    letter-spacing: -3.5px;
    font-weight: 500;
}

.HeroSection .Float .TitleContainer .Subtitle {
    font-size: 70px;
    font-weight: 600;
    background: var(--primary-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.HeroSection .Background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.HeroSection .Background .Sphere_big {
    bottom: -50%;
    left: -25%;
    width: 1300px;
    height: 1300px;
}

.HeroSection .Background .Sphere_small {
    top: 2%;
    right: 5%;
    width: 350px;
    height: 350px;
}

.HeroSection .Background .Light {
    position: absolute;
    border-radius: 100%;
    bottom: calc(1300px / -1.4);
    left: calc(50% - (1300px / 2));
    width: 1300px;
    height: 1300px;
    background: var(--primary-gradient);
    filter: blur(200px);
    opacity: 20%;
}


.HeroSection .LanguageDropdown {
    --font-size: 25px;
    position: absolute;
    right: calc(var(--horizontal-padding) - 10px);
    top: calc(var(--vertical-padding) - (var(--font-size) + 18px + 0px));
    /*padding - (fontsize + dropdown padding + margin)*/
}

.HeroSection .LanguageDropdown {
    font-size: var(--font-size);
    border-radius: 15px;
}

.HeroSection .LanguageDropdown option {
    font-size: calc(var(--font-size) - 5px);
}
