.HeroSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 7svw;
    width: 100%;
    height: 100svh;
    z-index: 1;
}

.HeroSection .Image {
    height: auto;
    width: clamp(50px, 40vw, 500px);
}

.HeroSection .Float {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7ch;
    min-width: 45svw;
    --horizontal-padding: 34px;
    --vertical-padding: 60px;
    padding: var(--vertical-padding) var(--horizontal-padding);
    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0.05);
}

.HeroSection .Float .TitleContainer h1 {
    font-size: clamp(3.5rem, 10vw, 6rem);
    letter-spacing: -3.5px;
    font-weight: 500;
}

.HeroSection .Float .TitleContainer .Subtitle {
    font-weight: 600;
    background: var(--primary-gradient) no-repeat center text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
}

.HeroSection .Float .ActionContainer {
    display: flex;
    gap: 1vw;
}

.HeroSection .Float .ActionContainer .Icon {
    font-size: clamp(30px, 2vw, 50px);
}

.HeroSection .Float .Text {
    opacity: 90%;
}

.HeroSection .Background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.HeroSection .Background .Sphere_big {
    bottom: -50%;
    left: -25%;
    width: 1300px;
    height: 1300px;
}

.HeroSection .Background .Sphere_small {
    top: 2%;
    right: 5%;
    width: 350px;
    height: 350px;
}

.HeroSection .Background .Light {
    position: absolute;
    border-radius: 100%;
    bottom: calc(1300px / -1.4);
    left: calc(50% - (1300px / 2));
    width: 1300px;
    height: 1300px;
    background: var(--primary-gradient);
    filter: blur(200px);
    opacity: 20%;
}


.HeroSection .LanguageDropdown {
    --font-size: clamp(1.3rem, 3.5vw, 2rem);
    position: absolute;
    right: calc(var(--horizontal-padding) - 10px);
    top: calc(var(--vertical-padding) - (var(--font-size) + 18px + 0px));
    /*padding - (fontsize + dropdown padding + margin)*/
}

.HeroSection .LanguageDropdown {
    border-radius: 15px;
}

@media (max-width: calc(1400px - 1px)) {
    .HeroSection {
        flex-direction: column;
        column-gap: 2svh;
    }

    .HeroSection .Image {
        width: clamp(200px, 90vw, 25%);
    }

    .HeroSection .Float {
        max-width: 900px;
        --horizontal-padding: clamp(5px, 3vw, 2rem);
        width: 100%;
    }

    .HeroSection .LanguageDropdown {
        right: unset;
        left: 10px;
        top: 10px;
    }

    .HeroSection .Background .Sphere_big {
        width: 70vw;
        height: 70vw;
        bottom: -10px;
    }

    .HeroSection .Background .Sphere_small {
        width: 30vw;
        height: 30vw;
        right: -7%;
    }
}

@media (orientation: landscape) and (min-width: 500px) {
    .HeroSection .Float {
        max-width: 70vw;
    }
}
