/**
    Under 1200px, switch to mobile mode
 */
.ProjectSection {
    height: calc(100svh - var(--app-gap));
    overflow: hidden;
    position: relative;
    gap: 0;
}

.ProjectSection .Carousel {
    display: flex;
    align-items: center;
    /*background-color: darkcyan;*/
    width: 100%;
    height: var(--height);
    justify-content: space-between;
    gap: 2vw;
    --height: 80svh
}


.ProjectSection .Carousel .LeftContainer {
    display: flex;
    align-items: center;
    gap: 2vw;
    min-width: 50%
}


/** Navigator **/

.ProjectSection .Carousel .Navigator {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background: red;*/
    gap: 0.7vh;
    --default-color: rgba(255, 255, 255, 0.3);
    --primary-color: #fff;
    z-index: 1;
}

.ProjectSection .Carousel .Navigator .Arrow {
    /*background: orange;*/
    border-radius: 50%;
    cursor: pointer;
}

.ProjectSection .Carousel .Navigator .Arrow i {
    color: var(--default-color);
    transition: color 0.1s ease-in-out;
}

.ProjectSection .Carousel .Navigator .Arrow:hover i {
    color: var(--primary-color);
}

.ProjectSection .Carousel .Navigator .Arrow.Previous {
}

.ProjectSection .Carousel .Navigator .Arrow.Next {
}

.ProjectSection .Carousel .Navigator .ButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh 0;
    width: 100%;
    /*background: orange;*/
    border-radius: 10px;
    gap: 1.1vh;
}

.ProjectSection .Carousel .Navigator .ButtonContainer .Button {
    background: var(--default-color);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    transition: background-color 0.1s ease-in-out;
}

.ProjectSection .Carousel .Navigator .ButtonContainer .Button:not(.Selected) {
    cursor: pointer;
}

.ProjectSection .Carousel .Navigator .ButtonContainer .Button.Selected,
.ProjectSection .Carousel .Navigator .ButtonContainer .Button:not(.Selected):hover {
    background-color: var(--primary-color);
}

/** Current Content card **/
.ProjectSection .Carousel .Card {
    /*background-color: wheat;*/
    min-width: 40vw;
    min-height: 25vh;
    max-width: 50vw;
    border-radius: 28px;
    padding: 2vw 1.5vw;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    z-index: 1;
}

.ProjectSection .Carousel .Card .Header {
    /*background-color: blue;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ProjectSection .Carousel .Card .Header .TitleContainer {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.ProjectSection .Carousel .Card .Header .TitleContainer .Icon {
    border-radius: 20px;
}

.ProjectSection .Carousel .Card .Header .Button p {
    font-size: 18px;
}

.ProjectSection .Carousel .Card .Description {
    /*background-color: blue;*/
    width: 95%;
    flex-grow: 1;
    /*-webkit-line-clamp: 5;*/
    overflow-y: scroll;
    transition: max-height 400ms ease, min-height 400ms ease;
}

.ProjectSection .Carousel .Card .Footer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /*background-color: red;*/
}

.ProjectSection .Carousel .Card .Footer .Datas {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.ProjectSection .Carousel .Card .Footer .Datas .Data {
    display: flex;
    align-items: center;
    gap: 0.4vw;
}

.ProjectSection .Carousel .Card .Footer .Datas .Data p {
    font-size: 20px;
    color: var(--text-secondary);
    font-weight: 400;
}

.ProjectSection .Carousel .Card .Footer .Datas .Data i {
    font-size: 25px;
    color: var(--text-secondary);
}

.ProjectSection .Carousel .Card .Footer .TechnologiesContainer {
    /*background-color: green;*/
    display: flex;
    gap: 0.5vw;
}

.ProjectSection .Carousel .ImageContainer {
    /*background-color: orange;*/
    width: 50%;
    height: 100%;
    position: relative;
}

.ProjectSection .Carousel .ImageContainer .Image,
.ProjectSection .Carousel .ImageContainer .ImageFallback {
    position: relative;
    border-radius: var(--border-radius);
    object-position: top;
    object-fit: cover;
    width: 100%;
    height: fit-content;
    max-height: 100%;
    top: 50%;
}

@media (min-width: 1000px) {
    .ProjectSection .Carousel .ImageContainer .Image,
    .ProjectSection .Carousel .ImageContainer .ImageFallback {
        transform: translate(5%, -50%) rotateZ(-10deg);
    }
}

.ProjectSection .Carousel .ImageContainer .ImageFallback {
    position: absolute;
    left: 0;
    filter: blur(150px) opacity(30%);
    z-index: -1;
}

.ProjectSection .Carousel .ImageContainer .Sphere {
    bottom: -10vw;
    right: -7vw;
    width: 50vw;
    height: 50vw;
    z-index: -1;
}

.ProjectSection .Carousel .ImageContainer .Light {
    bottom: -10vw;
    right: -7vw;
    width: 40vw;
    height: 40vw;
    z-index: -1;
    filter: blur(150px) opacity(30%);
    transition: background-color 1000ms ease;
}

.ProjectSection .Carousel .Background {
    position: absolute;
    width: 100%;
    height: var(--height);
    z-index: -1;
}

.ProjectSection .Carousel .Background .Light {
    width: 40vw;
    height: 40vw;
    bottom: -15vw;
    left: -20vw;
    filter: blur(350px) opacity(20%);
    transition: background-color 1000ms ease;
}

@media (max-width: 1000px) {
    .ProjectSection {
        gap: 2vh;
        --height: 100svh;
    }

    .ProjectSection .Carousel,
    .ProjectSection .Carousel .LeftContainer {
        flex-direction: column;
    }

    .ProjectSection .Carousel .LeftContainer {
        gap: 1vh;
    }

    .ProjectSection .Carousel .Navigator,
    .ProjectSection .Carousel .Navigator .ButtonContainer {
        flex-direction: row;
        padding: 0.5vh 1vw;
    }

    .ProjectSection .Carousel .Navigator .Arrow.Previous {
        transform: rotateZ(-90deg);
    }

    .ProjectSection .Carousel .Navigator .Arrow.Next {
        transform: rotateZ(-90deg);
    }

    .ProjectSection .Carousel .Card {
        min-width: 75vw;
        max-width: 80vw;
        min-height: 20vh;
        border-radius: 15px;
        padding: 2vw 2vw;
        gap: 1.5vh;
    }


    .ProjectSection .Carousel .Card .Footer .Datas {
        gap: 2vw;
    }


    .ProjectSection .Carousel .ImageContainer {
        transform: translateY(-50%);
        width: 70%;
    }
}

@media (max-width: 700px) {
    .ProjectSection .Carousel .Card {
        max-width: 95vw;
    }

    .ProjectSection .Carousel .Card .Header .TitleContainer {
        gap: 2vw;
    }

    .ProjectSection .Carousel .Card .Header .TitleContainer .Icon {
        width: 11.4vw;
        height: 11.4vw;
        border-radius: 10px;
    }

    .ProjectSection .Carousel .Card .Description {
        font-size: 4vw;
    }

    .ProjectSection .Carousel .Card .Footer .Datas .Data p {
        font-size: 4vw;
    }

    .ProjectSection .Carousel .Card .Footer .Datas .Data i {
        font-size: 4.5vw;
    }

    .ProjectSection .Carousel .Card .Footer .TechnologiesContainer {
        gap: 1.5vw;
    }

    .ProjectSection .Carousel .Card .Footer .TechnologiesContainer .Image {
        width: 7vw;
        height: 7vw;
    }

    .ProjectSection .Carousel .ImageContainer {
        width: 98%;
    }

}