.ProjectSection {
    min-height: calc(100svh - var(--app-gap));
    position: relative;
    gap: 0;
    overflow: hidden;
}

.ProjectSection .Carousel {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--height);
    justify-content: space-between;
    gap: 2vw;
    --height: 80svh;
}


.ProjectSection .Carousel .LeftContainer {
    display: flex;
    align-items: center;
    gap: 2vw;
    min-width: 50%
}


/** Navigator **/
.ProjectSection .Carousel .Navigator {
    display: flex;
    align-items: center;
    /*background: red;*/
    gap: 0.7vh;
    --default-color: rgba(255, 255, 255, 0.3);
    --primary-color: #fff;
    z-index: 1;
}

.ProjectSection .Carousel .Navigator .Arrow {
    border-radius: 50%;
    cursor: pointer;
}

.ProjectSection .Carousel .Navigator .Arrow i {
    color: var(--default-color);
    transition: color 0.1s ease-in-out;
}

.ProjectSection .Carousel .Navigator .Arrow:hover i {
    color: var(--primary-color);
}

.ProjectSection .Carousel .Navigator .ButtonContainer {
    display: flex;
    align-items: center;
    padding: 0.5vh 1vw;
    width: 100%;
    border-radius: 10px;
    gap: 1vh;
}

.ProjectSection .Carousel .Navigator .ButtonContainer .Button {
    background: var(--default-color);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    transition: background-color 0.1s ease-in-out;
    border: none;
}

.ProjectSection .Carousel .Navigator .ButtonContainer .Button:not(.Selected) {
    cursor: pointer;
}

.ProjectSection .Carousel .Navigator .ButtonContainer .Button.Selected,
.ProjectSection .Carousel .Navigator .ButtonContainer .Button:not(.Selected):hover {
    background-color: var(--primary-color);
}

/** Current Content card **/
.ProjectSection .Carousel .Card {
    min-width: 40vw;
    min-height: 25vh;
    border-radius: var(--border-radius);
    padding: 2vw 1.5vw;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    z-index: 1;
}

.ProjectSection .Carousel .Card .Header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
}

.ProjectSection .Carousel .Card .Header h2 {
    flex-grow: 1;
}

.ProjectSection .Carousel .Card .Header .Button p{
    font-size: clamp(1.6rem, 2vw, 2rem);
}

.ProjectSection .Carousel .Card .Header .Icon {
    height: auto;
    width: clamp(45px, 5vw, 100px);
    border-radius: clamp(15%, 1.1vw, 20%);

}

.ProjectSection .Carousel .Card .Description {
    width: 100%;
    flex-grow: 1;
    max-height: calc((1in / 3) * 5);
    /*5 lines*/
    overflow-y: auto;
}

.ProjectSection .Carousel .Card .Footer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.ProjectSection .Carousel .Card .Footer .Datas {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ProjectSection .Carousel .Card .Footer .Datas .Data {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.ProjectSection .Carousel .Card .Footer .Datas .Data p {
    color: var(--text-secondary);
    font-weight: 400;
    font-size: clamp(1.1rem, 3vw, 1.5rem);
}

.ProjectSection .Carousel .Card .Footer .Datas .Data i {
    color: var(--text-secondary);
}

.ProjectSection .Carousel .Card .Footer .TechnologiesContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.ProjectSection .Carousel .Card .Footer .TechnologiesContainer .Image {
    height: auto;
    width: clamp(40px, 3vw, 80px);
}

.ProjectSection .Carousel .ImageContainer {
    width: 50%;
    height: 100%;
    position: relative;
}

.ProjectSection .Carousel .ImageContainer .Image,
.ProjectSection .Carousel .ImageContainer .ImageFallback {
    position: absolute;
    border-radius: var(--border-radius);
    object-position: top;
    object-fit: cover;
    width: 100%;
    height: fit-content;
    max-height: 100%;
    top: 50%;
    /*transform in queries*/
}

.ProjectSection .Carousel .ImageContainer .ImageFallback {
    position: absolute;
    left: 0;
    filter: blur(150px) opacity(30%);
    z-index: -1;
}

.ProjectSection .Carousel .ImageContainer .Sphere {
    bottom: -10vw;
    right: -7vw;
    width: 50vw;
    height: 50vw;
    z-index: -1;
}

.ProjectSection .Carousel .ImageContainer .Light {
    bottom: -10vw;
    right: -7vw;
    width: 40vw;
    height: 40vw;
    z-index: -1;
    filter: blur(150px) opacity(30%);
    transition: background-color 1000ms ease;
}

.ProjectSection .Carousel .Background {
    position: absolute;
    width: 100%;
    height: var(--height);
    z-index: -1;
}

.ProjectSection .Carousel .Background .Light {
    width: 40vw;
    height: 40vw;
    bottom: -15vw;
    left: -20vw;
    filter: blur(350px) opacity(20%);
    transition: background-color 1000ms ease;
}

@media (min-width: 1000px) {
    .ProjectSection .Carousel .Navigator,
    .ProjectSection .Carousel .Navigator .ButtonContainer {
        flex-direction: column;
        padding: 0.8rem 0;
    }

    .ProjectSection .Carousel .LeftContainer .Card {
        max-width: 50vw;
    }

    .ProjectSection .Carousel .ImageContainer .Image,
    .ProjectSection .Carousel .ImageContainer .ImageFallback {
        transform: translateY(-50%);
    }
}

@media (min-width: 1300px) {
    .ProjectSection .Carousel .ImageContainer .Image,
    .ProjectSection .Carousel .ImageContainer .ImageFallback {
        transform: translate(5%, -50%) rotateZ(-10deg);
    }
}

@media (max-width: calc(1000px - 1px)) {
    .ProjectSection .Carousel,
    .ProjectSection .Carousel .LeftContainer {
        flex-direction: column;
        gap: 1vh;
        --height: fit-content;
    }

    .ProjectSection .Carousel .LeftContainer,
    .ProjectSection .Carousel .LeftContainer .Card {
        max-width: 100%;
    }

    .ProjectSection .Carousel .Navigator .Arrow.Previous,
    .ProjectSection .Carousel .Navigator .Arrow.Next {
        transform: rotateZ(-90deg);
    }

    .ProjectSection .Carousel .ImageContainer {
        width: 100%;
    }

    .ProjectSection .Carousel .ImageContainer,
    .ProjectSection .Carousel .ImageContainer .Image {
        position: relative;
    }

    .ProjectSection .Carousel .ImageContainer .ImageFallback {
        transform: translateY(-50%);
    }
}

@media (max-width: calc(400px - 1px)) {
    .ProjectSection .Carousel .LeftContainer .Card .Footer {
        flex-wrap: wrap;
        row-gap: 1vh;
        justify-content: center;
    }
}