@import url('~@flaticon/flaticon-uicons/css/regular/rounded.css');
@import url('~@flaticon/flaticon-uicons/css/brands/all.css');

:root {
    --border-radius: 28px;
    --component-padding: 9px 18px;

    --primary: #514CEB;
    --secondary: #282829;
    --background-primary: #111113;
    --text-primary: #FFF;
    --text-secondary: #939393;
    --primary-gradient: linear-gradient(45deg, #7D49EC 0%, #514CEB 100%);

    --card-padding: clamp(15px, 2vw, 2vw) clamp(13px, 1.5vw, 20px);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100svw;
    color-scheme: dark;
}

body {
    min-height: 100svh;
    background-color: var(--background-primary);
}

/****/

a {
    color: inherit;
    text-decoration: none;
}

p, h1, h2, /*h3,*/
h4, h5, h6, option, i {
    color: var(--text-primary);
}

p, a {
    font-size: clamp(1.3rem, 3vw, 1.7rem);
}

/*Main Title*/
h1 {
    font-size: clamp(3rem, 4vw, 6rem);
    font-weight: 700;
    line-height: 90%;
}

h2 {
    font-size: clamp(2.5rem, 3.5vw, 3.5rem);
    font-weight: 500;
}

h3 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: 400;
    color: var(--text-secondary);
}

h4 {
    font-size: clamp(1.6rem, 4vw, 2.5rem);
    font-weight: 500;
}

/****/
i {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    width: fit-content;
}

/****/
.Sphere {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 3%);
    border: 2px solid rgba(255, 255, 255, 20%);
    box-shadow: 0 0 52px 0 rgba(255, 255, 255, 20%);
    backdrop-filter: blur(50%);
}