@import url('~@flaticon/flaticon-uicons/css/regular/rounded.css');
@import url('~@flaticon/flaticon-uicons/css/brands/all.css');

:root {
    --max-width: 1100px;
    --border-radius: 21px;
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    --primary: #514CEB;
    --background-primary: #111113;
    --text-primary: #FFF;
    --text-secondary: #939393;
    --primary-gradient: linear-gradient(45deg, #7D49EC 0%, #514CEB 100%)
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100svw;
    color-scheme: dark;
}

body {
    /**/
    /*padding-bottom: 20vh;*/
    /**/
    min-height: 100svh;
    background-color: var(--background-primary);
}

/****/

a {
    color: inherit;
    text-decoration: none;
}

p, h1, h2, /*h3,*/
h4, h5, h6, option, i {
    color: var(--text-primary);
}

p {
    font-size: 24px;
}

/*Main Title*/
h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 35px;
    font-weight: 500;
}

@media (max-width: 600px) {
    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 5.3vw;
    }

    p {
        font-size: 4vw;
    }
}

/*Section description*/
h3 {
    font-size: 30px;
    font-weight: 400;
    color: var(--text-secondary);
}

/****/
i {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    width: fit-content;
}

@media (max-width: 600px) {
    i {
        font-size: 5vw;
    }
}

/****/
/*noinspection CssUnusedSymbol*/
.Sphere {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 3%);
    border: 2px solid rgba(255, 255, 255, 20%);
    box-shadow: 0 0 52px 0 rgba(255, 255, 255, 20%);
    backdrop-filter: blur(50%);
}