.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100svh;
  max-width: 100svw;
  overflow: hidden;
  --app-gap: 8svh;
  gap: var(--app-gap);
}