.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100svh;
  max-width: 100svw;
  overflow: hidden;
  --section-gap: 8vh;
  gap: var(--section-gap);
}